# Configurações do Servidor
PORT=3000

# Chave secreta para geração de tokens JWT
JWT_SECRET=minha_chave_secreta_super_simples

# Configurações do Banco de Dados MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=sua_senha_aqui
DB_NAME=pedidos_db
